.home_section {
  width: 100vw;
  height: 90vh;
}

.main_content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 10rem;
  padding: 0 4rem;
}

.hero_title {
  font-size: 5rem;
  letter-spacing: 0.25px;
  color: rgb(45, 46, 50);
}

.home_description {
  display: flex;
  max-width: 60rem;
  flex-direction: column;
  margin-top: 4rem;
}

.hero_par {
  font-size: 1.9rem;
  color: rgb(107, 107, 107);
}

.content {
  display: grid;
  align-items: center;
  justify-content: center;
}

.profile_pic {
  width: 35rem;
  height: 35rem;
  object-fit: cover;
  margin-left: 5rem;
  border: 3px solid rgb(45, 46, 50);
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: all 1s ease-in-out;
  animation: moving 8s ease-in-out infinite;
  background-repeat: no-repeat;
}

.profile_links {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}

.profileLinks {
  width: 4rem;
  object-fit: contain;
}

@keyframes moving {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.tehnologies {
    display: flex;
    flex-direction: row;
    align-items:  center;
}

.tech_names {
    margin-left: 4rem;
    font-size: 1.8rem;
    letter-spacing: 0.25px;
}

.line_tech {
    color: rgb(97, 97, 97);
    font-weight: 400;
    margin-left: 2rem;
}

.tech_icon {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    margin-left: 1rem;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.09);
}

.tech_icons_flex {
  display: flex;
}


@media screen and (max-width: 480px) {  
  .main_content {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    margin-top: 8rem;
    padding: 0 4rem;
  }

  .profile_pic {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    margin-left: 3.5rem;
    border: 3px solid rgb(45, 46, 50);
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transition: all 1s ease-in-out;
    animation: moving 8s ease-in-out infinite;
    background-repeat: no-repeat;
  }

  .hero_title {
    font-size: 4rem;
    letter-spacing: 0.25px;
    color: rgb(45, 46, 50);
    text-align: center;
  }
  .hero_par {
    font-size: 1.9rem;
    color: rgb(107, 107, 107);
    text-align: center;
    margin-top: 1.6rem;
  }

  .tech_icons_flex {
    display: flex;
    margin-top: 1rem;
  }

  .tehnologies{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .profile_links {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    gap: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) { 
  .main_content {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    margin-top: 8rem;
    padding: 0 4rem;
  }

  .profile_pic {
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    margin-left: 25%;
    border: 3px solid rgb(45, 46, 50);
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transition: all 1s ease-in-out;
    animation: moving 8s ease-in-out infinite;
    background-repeat: no-repeat;
  }

  .hero_title {
    font-size: 4rem;
    letter-spacing: 0.25px;
    color: rgb(45, 46, 50);
    text-align: center;
  }
  .hero_par {
    font-size: 1.9rem;
    color: rgb(107, 107, 107);
    text-align: center;
    margin-top: 1.6rem;
  }

  .tech_icons_flex {
    display: flex;
    margin-top: 1rem;
  }

  .tehnologies{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .profile_links {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    gap: 1rem;
  }
}

