
.footer_projects {
    width: 100vw;
    height: 25rem;
    background-color: #ffff;
    margin-top: 5rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.footer_header {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 5rem;
}

.footer_title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2cb67d;
    letter-spacing: 0.25px;
}

.footer_desc {
    font-size: 2rem;
}

.footer_contact {
    display: flex;
    margin-left: 5rem;
    margin-top: 5rem;
    gap: 7rem;
}

.contact_icons {
    width: 5rem;
    background-color: white;
    border-radius: 50%;
    padding: 1rem;
    box-shadow: 0 0 0 1px rgba(0,0,0,.09);
}

.email {
    display: flex;
    align-items: center;
}

#contact_flex_desc {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.contact_name {
    font-size: 2rem;
    letter-spacing: 0.25px;
}

.email_name {
    text-decoration: none;
    color: gray;
    font-size: 1.5rem;
    letter-spacing: 0.25px;
    transition: all 0.3s;
}

.email_name:hover{
    color: #2cb67d;
}

@media screen and (max-width: 480px) {
    .footer_title {
        font-size: 1.4rem;
    }
    .footer_header {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        margin-left: 2rem;
    }
    .footer_desc {
        font-size: 1.8rem;
    }

    .footer_contact {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        margin-top: 2rem;
        gap: 1rem;
    }

    .footer_projects {
        height: 30rem;
    }
}